view,
text,
button,
scroll-view,
image {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 28rpx;
    line-height: 1.5;
}

button::after {
    border: none;
    display: none;
}

page {
    background-color: #f6f6f6;
}
